# Postgres Database
DB_NAME=db_kanban
DB_USER_NAME=db_user
DB_USER_PASSWORD=db_pwd_changemeinprod

# Spring Security
SECURITY_JWT_EXPIRATION=86400000
## Run openssl rand -base64 32
SECURITY_JWT_SECRET=td5rJGOmNv0rAs4YpbjSvQUVb79nAy5ZBhid0yLm244=
SECURITY_USER_NAME=admin
SECURITY_USER_PASSWORD=security_pwd_changemeinprod

# Admin user
ADMIN_USER_EMAIL=admin@kanban.local
ADMIN_USER_FIRST_NAME=John
ADMIN_USER_LAST_NAME=Admin
ADMIN_USER_PASSWORD=admin_pwd_changemeinprod

# Container services
APP_PORT=8080
DB_PORT=5432
ADMINER_PORT=8081